@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  font-family: "Gentium Book Plus", serif;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem; /* change the font size to your desired value */
  line-height: 1.2; /* change the line height to your desired value */
  margin: 0; /* remove any default margin */
  padding: 0; /* remove any default padding */
  color: black;
}

.App {
  height: 100vh;
}
.section-center {
  display: flex;
  background-color: #eeeeee;
  width: 100vw;
  height: 90%;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}

.user-sidebar {
  flex: 0.17;
  border-right: solid 1px hsl(0, 12%, 93%);
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
  height: 96%;
  margin: 10px 6px;
  background-color: rgb(255, 255, 255);
}

.user-profile,
.user-avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image,
.subscribe {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin: 10px;
}

img {
  object-fit: cover;
  object-position: top center;
}

.user-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.user-links a,
.subscribe a {
  color: black;
  text-decoration: none;
  text-transform: capitalize;
}

.subscribe {
  background-color: rgb(8, 8, 220);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.9rem;
}

.socials {
  display: flex;
}
.socials img {
  height: 25px;
  width: 25px;
  margin: 2.5rem 5px;
}

.main-section {
  flex: 0.82;
  height: 98%;
  display: flex;
  flex-direction: column;
}

.news-section {
  width: 100%;
  display: flex;
  height: 290px;
  margin-top: 5px;
  /* background-color: yellowgreen; */
}

.blogs {
  height: 80%;
  margin-top: 10px;
  background-color: white;
  overflow: scroll;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.post-card {
  width: 400px;
  height: auto;
  margin: 10px;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}
.post-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-bottom: 1px solid gray;
}
.post-card .bottom {
  min-height: 120px;
}
.post-card p {
  color: gray;
  margin: 3px;
}

.post-card h3,
h4 {
  margin: 3px;
}
